@font-face {
	font-family: D3Euronism;
	src: url('font/d3euronism/D3Euronism.ttf');
}

@font-face {
	font-family: D3Euronism;
	font-weight: bold;
	src: url('font/d3euronism/D3Euronism_b.ttf');
}

@font-face {
	font-family: D3Euronism;
	font-style: italic, oblique;
	src: url('font/d3euronism/D3Euronism_i.ttf');
}

@font-face {
	font-family: D3Euronism;
	font-weight: bold;
	font-style: italic, oblique;
	src: url('font/d3euronism/D3Euronism_b_i.ttf');
}

body.parent, body {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	color: BLACK;
	margin: 0px;
	font-size: 10px;
	/*	background-image: url(Images/BAV2.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	background-attachment: fixed;
	background-color: #fff200;*/
}

body.popup {
	color: BLACK;
	background: WHITE;
	margin: 0px;
}

a {
	color: #fff200b4;
	text-decoration: none;
}

a:hover {
	/*	background: #fff200;*/
	text-decoration: none;
	cursor: pointer;
	font-style: italic;
	border: 0.5px
}

.link {
	cursor: pointer;
}

.link:hover {
	font-weight: bold;
	border: 1px solid #fff200;
}

img.link:hover {
	border: 1px solid #fff200;
}

fieldset {
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 8px;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #D99652;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

legend {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #665D2F;
	font-size: 1.2em;
	margin: 2 2 2 2;
	padding: 5 20 5 30;
	margin-left: 40%;
}

.cgu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/* INPUT  */

/**********/

input[type=date]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=text]:hover,
select:hover,
textarea:hover {
	border: 1px solid black;
	border-bottom: 1px solid;
	border-top: 0px  solid;
	border-right: 1px  solid; 
	border-left: 1px  solid;
	
}
input:required {
	font-weight: bold;
}
button,
input[type=button],
input[type=submit] {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	/*font-weight: bold;*/
	background-color: #1161a2;
	color: #fff200;
	text-align: center;
	cursor: pointer;
	border-width: 1px;
	border-color: #fff200;
	border-style: solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0.2em;
	font-size: 0.9em;
}

button:hover,
input[type=button]:hover  {
	background-color: #fff200;
	color: #1161a2;
	border-style: inset;
}

input[type=date],
input[type=email],
input[type=number],
input[type=text],
select {
	border-bottom: 1px solid;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	padding: 0.2em;
	border-style: solid;
	width: 85%;
	background-color: white;
	font-size: 0.9em;
}

textarea {
	border-bottom: 1px solid;
	border-top: 0px;
	border-right: 1px;
	border-left: 0px;
	padding: 0.2em;
	border-style: solid;
	font-size: 0.9em;
	background-color: white;
}

input.button:disabled,
input.submit:disabled,
input:disabled,
textarea:disabled,
select:disabled,
button:disabled {
	background: GREY;
	cursor: default;
	color: #fff200;
}


input:focus,
textarea:focus,
select:focus {
	background-color: lavender;
}

input:invalid,
textarea:invalid,
select:invalid {
	border-bottom: 1px solid red;
}

input:valid,
textarea:valid,
select:valid {
	border-color: blue;

}

input[type=text].autocomplete::after  {
	content: "X";
}



.change {
	background: #80743B;
}

form {
	margin: 0px;
}

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: RED;
	font-size: 0.8em;
	font-weight: bold;
}

input.error {
	background: RED;
	color: WHITE;
}

.disabled {
	color: GREY;
}

.help {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

.btnAction {
	text-align: center;
}

/*  POUR LES IMAGES */

/********************/

.img {
	border: 2px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-color: #AAA;
	border-style: outset;
	background-color: WHITE;
}

.edito {
	background-repeat: no-repeat;
	background-position: bottom;
	height: 95%
}

div.PAGE {
	width:95%;
	margin-left: auto;
	margin-right: auto;
}

div.pied {
}

div.entete {
	position :fixed;
	margin-left: auto;
	margin-right: auto;
	top : 0px;
}

.BH_CADRE {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	background-color: lightblue;
	/*width: 100%;*/
	/*height: 100%;*/
	/*text-align: center;*/
	/*border: 2px;*/
	border-color: #AAA;
	border-style: outset;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.MENU {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	background-color: #00a4dd;
	color: #fff200;
	width: 150px;
	border: 2px;
	border-color: #AAA;
	border-style: outset;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
}

.navigation {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	color: black;
	border: 1px;
	border-color: #AAA;
	border-style: solid;
	font-size: 0.8em;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 1px 1px 1px 1px;
}


.navigationSel {
	color: #fff200;
	font-style: italic;
}

*/
/*-- Pied de page --*/

/**********************/

table.PP {
	background-color: #C9BA73;
}

/* FENETRE_PRINCIPALE */

/**********************/

div.FENETRE_PRINCIPALE {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	background-color: #EEE;
	vertical-align: top;
	width: 100%;
	height: 80%;
	z-index: 2;
	/*text-align: center;*/
	border: 2px;
	border-color: #AAA;
	border-style: outset;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.TEXTE_FEN {
	vertical-align: top;
	width: 90%;
	height: 100%;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
}

.TITRE_FENETRE_PRINCIPALE {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: BOLD;
	text-align: center;
	letter-spacing: 5px;
	white-space: normal;
}

/* tableau */

/*********************/

.fiche {
	background-color: white;
	text-align: left;
	border: 2px;
	border-color: #AAA;
	border-style: outset;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.titreFiche {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	color: black;
	text-align: center;
	border-spacing: 15px 50px;
	border-width: 1px;
	border-color: #00a4dd;
	border-style: outset;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 2;
}

table.PAGE, td.pied, td.entete {
	margin-right: auto;
	margin-left: auto;
	border-collapse: inherit;
}
table {
	margin-right: auto;
	margin-left: auto;
}

.tittab {
	color: #1161a2;
	border-color: #1161a2;
	border-style: solid;
	font-weight: bold;
	text-align: center;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 1.1em;
}

.tittab1 {
	color: #fff200;
	background-color: #00a4dd;
	border-style: solid;
	padding: 5;
	font-weight: bold;
	text-align: center;
	border-color: black;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.titrow {
	color: #1161a2;
	font-weight: bold;
	text-align: right;
	font-size: 0.8em;
}

.tabl0 {
	background-color: WHITE;
	color: #1161a2;
}

.tabl1 {
	/*background-color: WHITE;*/
	color: BLACK;
	font-weight: bold;
}

td.tabInput {
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*border-bottom: 1px solid blue;*/
}
td.tabInput:hover {
	font-weight: bold;
}


tr.tabl0:hover {
	background-color: #1161a2;
	color: WHITE;
}

.sortable {
	background-image: url(Images/arrow_off.png);
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sortDown {
	background-image: url(Images/arrow_down.png);
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

.sortUp {
	background-image: url(Images/arrow_up.png);
	background-position: right;
	background-repeat: no-repeat;
	cursor: pointer;
}

/**************************************/

.ul, .li {
	font-weight: normal;
}

/**************************************/

/**************************************/
.BH_MODAL,
.BH_MODAL_ERR {
	font-family: D3Euronism, Verdana, Arial, Helvetica, sans-serif;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	border: 2px;
	border-style: solid;
	border-color: #AAA;
	-moz-border-radius: 5px;
	border-radius: 5px;
	letter-spacing: 3px;
	height: 2em;
}

.BH_MODAL_ERR {
	background-color: lightpink;
}

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 30px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */

.modal-content {

	background-color: #fefefe;
	margin: auto;
	padding: 2px;
	border: 1px solid #888;
	width: 80%;
	height: auto;
	min-height: 150px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.modalDo {
	content: url(Images/spinner_white_tiny.gif);
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#modalText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: auto;
	padding: 10px 20px 5px 20px;
}

#modalAction {
	height: 1.5em;
	vertical-align: bottom;
	background-color: lightsteelblue;
	text-align: center;
	border: 2px;
	border-color: #AAA;
	border-style: solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
}